# Problem Statement
1. **This Dataset Contain the information about the bank customer that will take loan.**
2. **Our goal is build a model that will detect weather the customer is eligible for loan or not**

# Import Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

# Read Data
1. Data is place another folder now find the path and read data.

In [12]:
file_path=[]
for i in os.listdir("Data"):
    file_path.append(f"{os.path.join(os.getcwd())}\Data\{i}")
    print(f"{os.path.join(os.getcwd())}\Data\{i}")

C:\Users\Laptop House\Weekly Task\CreditRisk\Data\case_study1.xlsx
C:\Users\Laptop House\Weekly Task\CreditRisk\Data\case_study2.xlsx

In [24]:
df1=pd.read_excel(file_path[0])
df2=pd.read_excel(file_path[1])

KeyboardInterrupt

# Data Preprocessing
1. Top records
2. Shape of data
3. Check columns
4. Merge based on `common column`
5. Check Datatyes
6. Null values
7. Duplicates
8. Unique Values
9. Statistical Summary

# Top Records

In [29]:
df1.sample(10)

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
47215,47216,2,0,2,0,0,0.000,0.000,1.000,0.000,...,0,1,0,0,0,0,2,1,10,10
45759,45760,5,4,1,1,0,0.200,0.000,0.200,0.800,...,0,0,4,0,0,4,1,1,40,4
6402,6403,16,11,5,2,1,0.125,0.062,0.312,0.688,...,0,0,11,0,0,16,0,5,67,1
5678,5679,1,1,0,0,0,0.000,0.000,0.000,1.000,...,0,0,0,0,0,1,0,0,64,64
28783,28784,10,8,2,0,1,0.000,0.100,0.200,0.800,...,1,6,0,0,0,2,8,1,137,10
17617,17618,1,1,0,0,1,0.000,1.000,0.000,1.000,...,0,1,0,0,0,0,1,0,15,15
19500,19501,5,0,5,2,0,0.400,0.000,1.000,0.000,...,0,4,0,0,0,0,5,1,10,2
48127,48128,3,1,2,0,0,0.000,0.000,0.667,0.333,...,0,0,0,0,1,1,2,1,39,9
33316,33317,10,5,5,1,0,0.100,0.000,0.500,0.500,...,0,5,4,0,1,4,6,0,109,4
898,899,1,1,0,0,0,0.000,0.000,0.000,1.000,...,0,0,0,0,0,1,0,0,48,48

In [28]:
df2.sample(10)

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,...,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
42672,42673,19,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.000,0.0,2.375,0,0,PL,PL,708,P1
13723,13724,62,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.000,0.0,-99999.000,0,1,HL,ConsumerLoan,677,P2
15919,15920,1316,34,34,1,10,10,0,0,0,...,0.0,0.000,0.0,-99999.000,1,0,ConsumerLoan,ConsumerLoan,621,P4
39554,39555,59,21,20,2,6,6,0,0,0,...,0.0,1.000,0.0,2.361,0,0,PL,ConsumerLoan,653,P4
47645,47646,818,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.000,0.0,-99999.000,1,0,others,others,685,P2
42210,42211,103,7,3,4,56,25,2,4,2,...,0.0,0.000,0.0,0.600,1,1,PL,others,707,P1
16433,16434,47,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.200,0.0,10.283,0,0,ConsumerLoan,ConsumerLoan,669,P2
39957,39958,90,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.000,0.0,-99999.000,0,0,others,others,688,P2
25081,25082,62,-99999,-99999,0,-99999,0,0,0,0,...,1.0,0.000,1.0,1.579,0,0,CC,CC,670,P2
1204,1205,43,-99999,-99999,0,-99999,0,0,0,0,...,1.0,0.833,1.0,0.990,0,0,ConsumerLoan,PL,622,P4

# Conclussion
1. we can see that in `df2` most of the columns contain `-99999` values.
2. These `-99999` are basically `Missing value`.

# shape

In [30]:
print("Data 1 Shape: ",df1.shape)
print("Data 2 Shape: ",df2.shape)

Data 1 Shape:  (51336, 26)
Data 2 Shape:  (51336, 62)

# Conclussion 
1. Data1 contain `51336` rows and `26` Column
2. Data2 contain `51336` rows and `62` Column

In [31]:
print(df1.columns)
print(df2.columns)

Index(['PROSPECTID', 'Total_TL', 'Tot_Closed_TL', 'Tot_Active_TL',
       'Total_TL_opened_L6M', 'Tot_TL_closed_L6M', 'pct_tl_open_L6M',
       'pct_tl_closed_L6M', 'pct_active_tl', 'pct_closed_tl',
       'Total_TL_opened_L12M', 'Tot_TL_closed_L12M', 'pct_tl_open_L12M',
       'pct_tl_closed_L12M', 'Tot_Missed_Pmnt', 'Auto_TL', 'CC_TL',
       'Consumer_TL', 'Gold_TL', 'Home_TL', 'PL_TL', 'Secured_TL',
       'Unsecured_TL', 'Other_TL', 'Age_Oldest_TL', 'Age_Newest_TL'],
      dtype='object')
Index(['PROSPECTID', 'time_since_recent_payment',
       'time_since_first_deliquency', 'time_since_recent_deliquency',
       'num_times_delinquent', 'max_delinquency_level',
       'max_recent_level_of_deliq', 'num_deliq_6mts', 'num_deliq_12mts',
       'num_deliq_6_12mts', 'max_deliq_6mts', 'max_deliq_12mts',
       'num_times_30p_dpd', 'num_times_60p_dpd', 'num_std', 'num_std_6mts',
       'num_std_12mts', 'num_sub', 'num_sub_6mts', 'num_sub_12mts', 'num_dbt',
       'num_dbt_6mts', 'num_dbt_12mts', 'num_lss', 'num_lss_6mts',
       'num_lss_12mts', 'recent_level_of_deliq', 'tot_enq', 'CC_enq',
       'CC_enq_L6m', 'CC_enq_L12m', 'PL_enq', 'PL_enq_L6m', 'PL_enq_L12m',
       'time_since_recent_enq', 'enq_L12m', 'enq_L6m', 'enq_L3m',
       'MARITALSTATUS', 'EDUCATION', 'AGE', 'GENDER', 'NETMONTHLYINCOME',
       'Time_With_Curr_Empr', 'pct_of_active_TLs_ever',
       'pct_opened_TLs_L6m_of_L12m', 'pct_currentBal_all_TL', 'CC_utilization',
       'CC_Flag', 'PL_utilization', 'PL_Flag', 'pct_PL_enq_L6m_of_L12m',
       'pct_CC_enq_L6m_of_L12m', 'pct_PL_enq_L6m_of_ever',
       'pct_CC_enq_L6m_of_ever', 'max_unsec_exposure_inPct', 'HL_Flag',
       'GL_Flag', 'last_prod_enq2', 'first_prod_enq2', 'Credit_Score',
       'Approved_Flag'],
      dtype='object')

# Conclussion
1. See that both `dataframe` one common column `PROSPECTID`.
2. We can `merge` them first and then perform other data preprocessing.

# Merge `df1` anf `df2`

In [32]:
df1.head(2)

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.0,0.0,0.2,0.8,...,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0,1,0,0,0,0,1,0,7,7

In [33]:
df2.head(2)

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,...,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,...,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2

In [35]:
final_df=df1.merge(df2,how='inner',on='PROSPECTID')
final_df.head(2)

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,5,4,1,0,0,0.0,0.0,0.2,0.8,...,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2